*{
  margin: 0;
  font-family: merrifont;

}
@font-face {
  font-family:merrifont ;
  src: url('./Assests/fonts/Merriweather/Merriweather-Regular.ttf');
}
@font-face {
  font-family:merrifontblack ;
  src: url('./Assests/fonts/Merriweather/Merriweather-Black.ttf');
}
.scrollup{
  position:fixed;
  bottom: 5rem;
  right: 10rem;
  border: 1px solid;
  border-radius: 10px;
  background-color: rgb(95, 93, 93);
  color:white;
  cursor: pointer;
  
 
}
@media screen and (max-width:515px) {
  .scrollup{
    position:fixed;
    bottom: 2rem;
    right: 2rem;
    border: 1px solid;
    border-radius: 50px;
    background-color: rgb(147, 147, 147);
    color:white;
    cursor: pointer;
    
   
  }
  
}