.viewborder{
// border: 1px solid red;
margin: 0px 19rem;
padding-top: 10px;

    .view{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    gap:10px;

      .list{
        &:hover{
            transform: scale(1.1) 
        }
          
        }
        .grid{
            &:hover{
                transform: scale(1.1) 
            }
              
            }
    }
}

.body{

    padding: 2rem 20rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 9rem;   

    .onecontainer{
        // border: 1px solid;
        display: flex;
        width: 80rem;
        gap: 9rem;

        &:nth-child(odd){
            flex-direction: row-reverse;
            .right{
                &::after{
                    content: '';
                    height: 100%;
                    background-color:rgb(211, 214, 216);
                    width: 100%;
                    position: absolute;
                    top: -20px;
                    left: -20px;
                    z-index: -1;
                }
            } 
        }
        &:nth-child(even){
            .right{
                &::after{
                    content: '';
                    height: 100%;
                    background-color: rgb(211, 214, 216);
                    width: 100%;
                    position: absolute;
                    top: -20px;
                    left: 20px;
                    z-index: -1;
                }
            } 
        }
        .left{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            // border:1px solid;
            flex: 68%;
       
            .title{
                font-size: 23px;
                font-weight: bolder;
                font-family: merrifontblack;
            }
            .desc{
                font-size: 15px;
            }
            .btn{
                border: 1px solid rgb(102, 117, 131);
                background-color:white ;
                padding: 10px 20px;
                color: rgb(102, 117, 131);
                cursor: pointer;
                &:hover{
                    background-color:rgb(102, 117, 131);
                    color: rgb(255, 255, 255);

                }
            }
        }
        .right{
            flex: 45%;
            // border: 2px solid red;
            width: 750px;
            height: 450px;
            position: relative;
       
            .img{
              width: 100%;
                height: 100%;
                object-fit:cover ;           
             }
             
        }
    }
   
   
}


@media only screen and (max-width:1600px) {
   

.body{
    .onecontainer{
        // border: 1px solid;
        width: 65rem;
        display: flex;
        gap: 6rem;

        
        .left{
         
            .title{
                font-size: 18px;
                font-weight: bolder;
                font-family: merrifontblack;
            }
            .desc{
                font-size: 14px;
            }
            
        }
        .right{
            // border: 2px solid red;
            width: 330px;
            height: 340px;
            position: relative;
       
            .img{
              width: 100%;
                height: 100%;
                object-fit: cover ;           
             }
        }
    }
}
}

@media screen and (max-width:515px) {
    *{
        // border: 1px solid;
    }
    .viewborder{
       display: none; 
        }
        
        .body{
            width: 100%;
            padding:1rem 0rem;
            display: flex;
            flex-direction: column;
            align-items: center; 
            gap: 4rem;   
        
            .onecontainer{
                // border: 1px solid;
                display: flex;
                align-items: center;
                flex-direction: column-reverse;
                width: 100%;
                gap: 0.5rem;
        
                &:nth-child(odd){
                    flex-direction: column-reverse;
                    .right{
                        &::after{
                            display: none;
                           
                        }
                    } 
                }
                &:nth-child(even){
                    
                    .right{
                        &::after{
                            display: none;
                            
                        }
                    } 
                }
                .left{
                    display: flex;
                    flex-direction: column;
                    // border:1px solid;
                    flex: 0%;
                    width: 88%;
                    gap:14px;

               
                    .title{
                        font-size: 10px;
                        font-weight: bolder;
                        font-family: merrifontblack;
                    }
                    .desc{
                        display: none;
                    }
                    .btn{
                        border: 1px solid rgb(102, 117, 131);
                        background-color:white ;
                        padding:10px 10px;
                        color: rgb(102, 117, 131);
                        cursor: pointer;
                        &:hover{
                            background-color:rgb(102, 117, 131);
                            color: rgb(255, 255, 255);
        
                        }
                    }
                }
                .right{
                    // border: 2px solid red;
                    width: 400px;
                    height: 250px;
                    position: relative;
               
                    .img{
                      width: 100%;
                        height: 100%;
                        object-fit:contain ;           
                     }
                     
                }
            }
           
           
        }
        
    
}